@import "tailwindcss";

@theme {
  --color-primary: #b1c29e;
  --color-secondary: #eaf5df;
  --color-third: #4d6139;
}

/* Custom calendar popup */
.custom-calendar {
  background-color: transparent; 
  color: white;
}

/* Active day */
.custom-calendar .react-datepicker__day--selected,
.custom-calendar .react-datepicker__day--keyboard-selected {
  background-color: #b1c29e; /* your primary color */
  color: white;
  border-radius: 50%;
}

/* Hover on days */
.custom-calendar .react-datepicker__day:hover {
  background-color: #cce5e5; /* light teal on hover */
  border-radius: 50%;
}

/* Header (month + arrows) */
.custom-calendar .react-datepicker__header {
  background-color: #b1c29e; /* primary color */
  color: white;
  border-bottom: none;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

/* Month text */
.custom-calendar .react-datepicker__current-month {
  font-weight: bold;
}

/* Navigation arrows */
.custom-calendar .react-datepicker__navigation-icon::before {
  border-color: white;
}
